

$principal: rgb(9, 136, 119);
$secundario: rgb(29, 137, 238);
$success:green;
$danger:red;
$dark:rgba(134, 134, 134, 0.555);
$texto:#b9fdf8;



body{
    height: 800px;
    background-color: #151616 !important;
}

html{
    font-size: 13px;
}

li{
    list-style-type: none;
}

.title{
    font-family: 'Golos Text', sans-serif;
    font-weight: bolder;
    color:rgb(118, 236, 221)
}

.scrollImg{
    border-radius: 10px;
}

.title2{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight:300;
    max-width: 500px;
    color:rgb(118, 236, 221)
}

.inputName{
    width: 400px !important;
}

.cardImage{
    width: 300px;
}

.card:hover{
    box-shadow: 0 0 10px $dark;
}


.bg-primary{
    background-color: $principal !important;
}


.text-primary{
   color: $principal !important;
}


.btn-primary{
    background-color: $principal !important;
    border-color:darken($principal,15%) !important;
 }

 .btn-primary:hover,
 .btn-primary:focus
 {
    background-color: darken($principal,8%) !important;
    box-shadow: 0 0 0 0.2rem rgba($principal,.5) !important;
 }

 .btn-primary:active {
    background-color: darken($principal,8%) !important;
    border-color:darken($principal,20%) !important;
 }


 .btn-secondary{
    background-color: $secundario !important;
    border-color:darken($secundario,15%) !important;
 }

 .btn-secondary:hover,
 .btn-secondary:focus
 {
    background-color: darken($secundario,8%) !important;
    box-shadow: 0 0 0 0.2rem rgba($secundario,.5) !important;
 }

 .btn-secondary:active {
    background-color: darken($secundario,8%) !important;
    border-color:darken($secundario,20%) !important;
 }

 .btn-secondary:hover,
 .btn-secondary:focus
 {
    background-color: darken($secundario,8%) !important;
    box-shadow: 0 0 0 0.2rem rgba($secundario,2) !important;
 }




 
